<div class="row">
  <div class="col">
    <textarea class="form-control" name="output" [(ngModel)]="output" id="outputAreas" rows="3" readonly></textarea>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="btn-group mr-3">
      <div class="btn-group" ngbDropdown role="group" aria-label="Select action" style="width: 200px;">
        <button class="btn btn-outline-secondary" ngbDropdownToggle> {{ selectedCommand ? selectedCommand.name : 'Choose an action' }} </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button
              ngbDropdownItem
              *ngFor="let command of commands"
              (click)="changeSelection(command)">
            {{ command.name }} <pre>{{ command.action }}</pre>
          </button>
        </div>
      </div>
      <button type="button" (click)="execSelectedCommand()" class="btn btn-outline-success">
        Go
      </button>
    </div>
  </div>
</div>
